<h1>Welcome to Survey Creater</h1>

<h3>Your stored Surveys</h3>
<ul>
<% @surveys.each() do |survey| %>
    <li><%= survey.name %><br>
      <a href="/surveys/<%= survey.id() %>">View Survey's Questions</a><br>
      <a href="/surveys/<%= survey.id() %>/edit">Update Survey's Name</a><br>
      <a href="/surveys/<%= survey.id() %>/delete">Delete Survey</a>
    </li>
  <% end %>
<ul>
<h3>Add a new Survey</h3>
<form action="/surveys" method="post">
  <label for="name">Survey name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Survey</button>
</form>

<div class="container">

</div>
